.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0 20px;
}
.toolbar .title {
  font-size: 26px;
  font-weight: 400;
}
.toolbar .title:focus {
  outline: none;
}

.toolbar .nav-items {
  font-size: 18px;
  color: white;
}
