.content {
  display: block;
  margin: 60px 0 0 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
#earth_div {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url("../../assets/bg.jpg");
}
.left-sidebar {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 60px;
  height: calc(100vh - 60px);
  width: 25%;
  left: 0;
  background: #fff;
  overflow-y: scroll;
  color: #666;
  padding: 15px;
  z-index: 99999;
  transition: left ease-out 0.2s;
}
.close-left-sidebar {
  position: absolute;
  top: 15px;
  right: 5px;
}
.left-sidebar.collapsed {
  left: -100%;
}
.left-sidebar-name {
  position: absolute;
  top: 60px;
  height: calc(100vh - 60px);
  left: 0;
  background: #fff;
  color: #666;
  width: 25px;
  font-size: 26px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  writing-mode: vertical-rl;
  z-index: 1;
  border-radius: 0 10px 10px 0;
  padding-right: 5px;
}
.link:hover {
  color: #000;
  cursor: pointer;
}
.sidebar-content {
  width: 100%;
}
.left-sidebar .sidebar-content .items > div {
  height: 100%;
  border: 1px solid #666;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.sidebar-content .items-footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.cat-field {
  width: 100%;
}
.right-sidebar {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 60px;
  height: calc(100vh - 60px);
  width: 25%;
  right: 0;
  background: #fff;
  overflow-y: scroll;
  color: #666;
  padding: 15px;
  z-index: 9999;
  transition: right ease-out 0.2s;
}
.right-sidebar.collapsed {
  right: -50%;
}
